<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="user" value="Stenneke"/>
    <add key="password" value="ima2008"/>
    <add key="url-base" value="https://istare.ivenza.net"/>
    <add key="url-test" value="https://istare.ivenza.net/ivenza/shop/personal/"/>
    <add key="url-login" value="/ivenza/j_security_check"/>
    <add key="url-sw" value="https://istare.ivenza.net/ivenza/servlet/ivenza/labels/productionItem-{0}/black-200.png"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
